<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-4">
    <h2 class="fw-bold mb-4">Formulario Review</h2>

    <form th:action="@{/reviews/guardar}" th:object="${review}" method="post" class="row g-3">

        <input type="hidden" th:field="*{id}"/>

        <div class="col-md-6">
            <label class="form-label">Cliente</label>
            <select th:field="*{cliente}" class="form-select" required>
                <option value="">Seleccione un cliente</option>
                <option th:each="c : ${clientes}"
                        th:value="${c.id}"
                        th:text="${c.nombre}">
                </option>
            </select>
        </div>

        <div class="col-md-2">
            <label class="form-label">Valoración</label>
            <input type="number" th:field="*{valoracion}" class="form-control" min="1" max="5" required>
        </div>

        <div class="col-md-12">
            <label class="form-label">Descripción</label>
            <textarea th:field="*{descripcion}" class="form-control" rows="3" required></textarea>
        </div>

        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-save"></i> Guardar
            </button>

            <a th:href="@{/reviews}" class="btn btn-secondary ms-2">
                <i class="bi bi-arrow-left"></i> Volver
            </a>
        </div>

    </form>
</div>

<div th:replace="fragments/footer :: footer "></div>


</body>
</html>